<div>
    <nav>
        <div class="container">
            <a href="/" style="text-decoration: none;"><h3 class="logo">LIFE<span> On EARTH</span></h3></a>
            <div id="mainmenu">
                <a href="/authors"style="text-decoration: none;" >Authors</a>
                <a href="/authors/new"style="text-decoration: none;" >Add Author</a>
                <a href="/books"style="text-decoration: none;" >Books</a>
                <a href="/books/new"style="text-decoration: none;" >Add Book</a>
            </div>
        </div>
    </nav>
</div>