<header>
    <nav>
        <a href="/">Life</a>
        <ul>
            <li><a href="/authors">Places</a></li>
            <li><a href="/authors/new">Add Places</a></li>
        </ul>
    </nav>
</header>